
body{background-image: url(fondo-textura-cemento-amarillo-claro-textura-alta-calidad-resolucion-extremadamente-alta_463999-561.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
h3{
    font-family:serif;
    
    
    
}
div{
    
    
    
    
    
    
    
    
    
}

h1{
    
   font-family: serif; 
    
}








.matutina{
     margin-top: auto;
   
    width: 1000px;
    height: 420px;
    background-color: white;
   
          box-shadow: 0 0 20px 15px rgba(0,0,0,.2);
    
    
    
    
    
    
}

.mas{
    
  width: 995px;
    height: 320px;
    background-color: aqua;
    margin-top: auto;
    margin: 10px;
    
    
    
}








